body {
    text-align: center;
}

.title {
    text-align: center;
    flex-grow: 1;
}

.taskListTitle {
    padding-bottom: 10px;
    margin: 10px;
}

.left {
    flex-grow: 1;
}

.inputLeft {
    flex-grow: 1;
    padding-right: 8px;
}

.right {
    width: 74px;
}

.newTaskField {
    height: 26px;
    text-align: left;
    width: 100%;
}

.taskButtonComplete {
    text-decoration: line-through;
    height: 32px;
    text-align: left;
    width: 100%;
    background-color: azure;
    outline-color: burlywood;
}

.taskButton {
    height: 32px;
    text-align: left;
    width: 100%;
    background-color: azure;
    outline-color: burlywood;
}

.task {
    display: flex;
    margin: 5px auto;
    text-align: right;
    width: 75%;
    height: 32.5px;
}

.newButton {
    background: url(../../assets/images/plus-2-32.png) center center no-repeat;
    height: 32px;
    width: 32px;
    background-size: 90%;
    margin-left: 5px;
    background-color: azure;
    outline-color: burlywood;
}

.acceptButton {
    background: url(../../assets/images/check-mark-32.png) center center no-repeat;
    height: 32px;
    width: 32px;
    background-size: 90%;
    margin-left: 5px;
    background-color: azure;
    outline-color: burlywood;
}

.editButton {
    background: url(../../assets/images/edit-32.png) center center no-repeat;
    height: 32px;
    width: 32px;
    background-size: 90%;
    margin-left: 5px;
    background-color: azure;
    outline-color: burlywood;
}

.deleteButton {
    background: url(../../assets/images/delete-32.png) center center no-repeat;
    height: 32px;
    width: 32px;
    background-size: 90%;
    margin-left: 5px;
    background-color: azure;
    outline-color: burlywood;
}